* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
  font-family: 'Staatliches', cursive;
  color: rgb(85, 85, 85);
  font-size: 40px;
  padding: 20px;
}

.title {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-size: 40px;
  padding: 40px;
  color: white;
  filter: drop-shadow(1px 1px 6px rgba(78, 249, 255, 0.815));
}
  .title:hover {
    filter: drop-shadow(1px 1px 6px rgb(6, 24, 12));
  }
  
  .header-title {
    font-size: 15px;
    color: rgb(158, 158, 158);
  }
  .header-num {
    height: 100vh;
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(158, 158, 158);
  }

.bodyElement {
    font-size: 2rem;
    background-position: center;
    background-image: url('../images/sunset.jpeg');
    background-size: cover;
  }
  
  .mainElement {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 50px;
  }

  .feedback {
    text-align: center;
    display: none;
  }
    .visible {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
   .table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    margin: auto;
  }
  
  .card {
    width: 100px;
    height: 150px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom, #befbffce 0%, transparent 100%);
    box-shadow: 2px 1px 8px rgba(24, 15, 7, 0.863), 4px 4px 10px rgba(35, 167, 156, 0.212);
    transition: 0.3s;
    cursor: pointer;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .card-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    background: rgb(152, 231, 255);
    box-shadow: 1px 1px 3px rgba(13, 14, 14, 0.589), 4px 4px 10px rgba(12, 11, 11, 0.603);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    padding-top: 0.4rem;
  }
  
  .card-content::selection {
    background: transparent;
  }
  
  .card.discovered {
    transform: rotateY(-180deg);
  }

  @keyframes success {
    from {
      transform: rotateY(-180deg) scale3d(1, 1, 1);
      opacity: 1;
    }
  
    25% {
      transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
      opacity: 1;
    }
  
    to {
      transform: rotateY(-180deg) scale3d(1, 1, 1);
      opacity: 0;
    }
  }

  .correct {
    pointer-events: none
  }

  .correct .card-content {
    animation: success 1.3s ease-in-out forwards;
  }
  
  .footer {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.438);
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
  }

@media (min-width: 1200px) {
  .bodyElement {
    background-position: center;
    background-size: cover;
  }
  .card {
    width: 100px;
    height: 150px;
    margin: 15px;
  }
}